html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }

html, body, div, h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, section {
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
}

.form-grid .mat-grid-tile > .mat-figure {
  position: relative;
  display: inline-block;
  width: 100%;

  .mat-form-field {
    width: 100%;
  }
}